@model HollyProject.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_checkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_checkin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_checkout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_checkout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jml_orang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jml_orang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jml_hari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jml_hari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_accepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_canceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_canceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_rescheduled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_rescheduled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_rejected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_rejected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.request_reschedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.request_reschedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.request_cancel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.request_cancel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
