@{
    Layout = "_Layout_HomePage";
}

@{
    var session = (User) ViewData["session"];
    var hotels = (List<Hotel>) ViewData["hotels"];
}

<section class="welcome-area welcome-section">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/16.jpg);" data-img-url="img/bg-img/16.jpg">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInLeft" data-delay="200ms">Hotel &amp; Resort</h6>
                                <h2 data-animation="fadeInLeft" data-delay="500ms">Welcome To HOLLY</h2>
                                <a href="#hotels" class="btn roberto-btn btn-2" data-animation="fadeInLeft" data-delay="800ms">
                                    Discover Hotel Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/17.jpg);" data-img-url="img/bg-img/17.jpg">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="200ms">Hotel &amp; Resort</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Welcome To HOLLY</h2>
                                <a href="#hotels" class="btn roberto-btn btn-2" data-animation="fadeInUp" data-delay="800ms">Discover Hotel Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(img/bg-img/18.jpg);" data-img-url="img/bg-img/18.jpg">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInDown" data-delay="200ms">Hotel &amp; Resort</h6>
                                <h2 data-animation="fadeInDown" data-delay="500ms">Welcome To HOLLY</h2>
                                <a href="#hotels" class="btn roberto-btn btn-2" data-animation="fadeInDown" data-delay="800ms">Discover Hotel Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->

<!-- Hotels Area Start -->
<section class="roberto-blog-area section-padding-100-0" id="hotels">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Welcome</h6>
                    <h2>Populer Hotels</h2>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var hotel in hotels) {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <a href="/HotelPage/Details/@hotel.id" class="post-thumbnail"><img src="img/bg-img/2.jpg" alt=""></a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <a href="/HotelPage/Details/@hotel.id" class="post-date">@hotel.city, @hotel.country</a>
                            <a href="/HotelPage/Details/@hotel.id" class="post-catagory">Hotel</a>
                        </div>
                        <!-- Post Title -->
                        <a href="/HotelPage/Details/@hotel.id" class="post-title">@hotel.name</a>
                        <a href="/HotelPage/Details/@hotel.id" class="post-catagory price_hotel" style="font-size: 24px; color: #f09614">
                            Rp. @Html.Raw(@String.Format("{0:N2}", hotel.price)) 
                        </a>
                        <br>
                        <p>@hotel.deskripsi</p>

                        <a href="/HotelPage/Details/@hotel.id" class="btn roberto-btn mb-50"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> See Details</a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Hotels Area End -->

<!-- Projects Area Start -->
<section class="roberto-project-area">
    <!-- Projects Slide -->
    <div class="projects-slides owl-carousel">
        <!-- Single Project Slide -->
        <div class="single-project-slide active bg-img" style="background-image: url(img/bg-img/5.jpg);">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#hotels" class="btn project-btn">Discover Hotel Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/6.jpg);">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#hotels" class="btn project-btn">Discover Hotel Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/7.jpg);">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#hotels" class="btn project-btn">Discover Hotel Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/8.jpg);">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#hotels" class="btn project-btn">Discover Hotel Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Projects Area End -->


@section scripts {
    <script>

        
        
        $(document).ready(function() {
            function formatRupiah(angka, prefix){
                var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split   		= number_string.split(','),
                sisa     		= split[0].length % 3,
                rupiah     		= split[0].substr(0, sisa),
                ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
    
                // tambahkan titik jika yang di input sudah menjadi angka ribuan
                if(ribuan){
                    separator = sisa ? '.' : '';
                    rupiah += separator + ribuan.join('.');
                }
    
                rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
                return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
            }
            
            var rupiah = document.getElementByClassName('price_hotel');
            rupiah.innerHtml = formatRupiah(rupiah.textContent, 'Rp. ');
            console.log("Test")
        });

	</script>
}